body {
    background-color: beige;
    text-align: center; 

}
.Titulo {
    background-color: #a53434d7;
    padding: 20px;
    font-size: 24px;
}
.calculo {
    background-color: blanchedalmond;
    padding: 30px;
    font-size: 16px;
    line-height: 1.6;
    width: 30vw; 
    margin: 0 auto;
}
#resultado{ 
    background-color: rgb(226, 168, 168);
    padding: 30px;
    font-size: 16px;
    line-height: 1.6;
    width: 10vw;
    margin: 0 auto; 
}